* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 10px = 1rem
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #555;
    line-height: 1.5;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// SECTIONS

.section {
    padding: 1.8rem 3rem;

    &__title {
        max-width: 80rem;
        margin: 0 auto 2rem auto;
        text-align: center;
        text-transform: uppercase;
    }

    &__description {
        color: lightgreen;
        font-size: 1.8rem;
    }

    &__text {
        font-size: 2.5rem;
    }

    &__button {
        font-size: 2rem;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 2rem;
        display: inline-block;
        border-radius: 3rem;
        position: relative;
        background-color: lightgreen;
        color: #fff;

        border: none;
        cursor: pointer;
    }
}

// CONTENT
.content {
    width: 70vw;
    min-height: 10vh;
    padding: 0rem;
    box-sizing: content-box;
    border: 3px solid #000;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;

    &__row {
        width: 100%;
        box-sizing: content-box;
        flex-wrap: wrap;
        min-height: 8.5rem;
        background-color: #1a1a17;
        display: flex;

        &:not(:last-child) {
            border-bottom: 2px solid #000;
        }
    }

    &__label {
        font-size: 2rem;
        font-weight: 400;
        min-height: 100%;
        width: 15rem;
        background-color: #555;
        color: #333;
        border-right: 3px solid #000;

        @include center;
    }

    &__card {
        height: 8.5rem;
        width: 8.5rem;
        background-color: transparent;

        @include center;

        &:focus,
        &:active {
            cursor: pointer;
        }
    }
}

// BANK

.bank {
    display: flex;
    flex-wrap: wrap;
    width: 70vw;
    min-height: 17rem;
    margin: 2rem auto;
    background-color: #1a1a17;
    border: 3px solid #000;

    margin: 0 auto;
}
